<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#">SnowPassion©</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('homepage') }}">Accueil</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>

                        <a href="{{ path('logout') }}">
                            {% if app.user.image is not null %}
                                <img class="img-avatar"
                                     src="{{ asset(app.user.image.uploadDir~'/'~app.user.image.id~'.'~app.user.image.ext) }}"
                                     alt="{{ app.user.image.alt }}">
                                <span class="span-avatar">Déconnexion</span>
                            {% endif %}



                            {% if app.user.image is null %}
                                <img class="img-avatar"
                                     src="{{ asset('assets/img/avatar_default.png') }}"
                                     alt="default">
                                <span class="span-avatar">Déconnexion</span>
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>